
<div class="footer-body">
    <div class="card text-center">
      <div class="card card-footer">
          <div class="card-footer">
            About Astroganit
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Astrotalk is the best astrology website for online Astrology predictions. Talk to Astrologer on call and get answers to all your worries by seeing the future life through Astrology Kundli Predictions from the best Astrologers from India. Get best future predictions related to Marriage, love life, Career or Health over call, chat, query or report. </p>
              
            </blockquote>
          </div>
        </div>
      <div class="card-body card-footer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-4">
                      <div class="card" style="width: 18rem;">
                          <div class="card-header">
                            Featured
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                          </ul>
                        </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card" style="width: 18rem;">
                          <div class="card-header">
                            Featured
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                          </ul>
                        </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card" style="width: 18rem;">
                          <div class="card-header">
                            Featured
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                          </ul>
                        </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer text-muted">
          Copyright 2023 Astrotalk Services Private Limited (Formerly Codeyeti Software Solutions Pvt. Ltd.) All Rights Reserved 
      </div>
    </div>
  </div>  