<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <h2 style="text-align: center; margin-top: 20px;"><strong>राशिफल</strong></h2>
        <hr>
        <p style="text-align: justify;">राशिफल एक ज्योतिषीय चार्ट होता है जिसे इस प्रकार तैयार किया जाता है कि किसी
            व्यक्ति के जीवन में भविष्य में होने वाली घटनाओं की समय-सीमा को सूर्य, चंद्रमा और अन्य खगोलीय पिंडों की जन्म
            के समय की स्थिति के आधार पर देखा जा सके। इस चार्ट का उपयोग यह विश्लेषण करने के लिए किया जाता है कि किसी
            व्यक्ति का स्वभाव, पसंद-नापसंद, सोच, प्रेम जीवन, करियर, स्वास्थ्य आदि पर ज्योतिषीय प्रभावों के कारण कैसा
            विकास होगा। एक राशिफल व्यक्ति के बारे में रोचक और सटीक जानकारी प्रदान कर सकता है।

            यही सटीकता कई गैर-विश्वासियों को यह सोचने पर मजबूर करती है कि कैसे एक ही राशि का राशिफल एक स्थानीय व्यक्ति
            से मेल खाता है, जबकि दूसरी राशि के लिए बताई गई विशेषताएँ उससे बिलकुल भिन्न होती हैं।

            ज्योतिष की होरोस्कोप परंपराएँ आमतौर पर पश्चिमी राशियों से जुड़ी होती हैं। वैदिक ज्योतिष में जिस ज्योतिषीय
            चार्ट को "कुंडली" कहा जाता है, वह एक अलग प्रकार की भविष्यवाणी की विधि का अनुसरण करता है। संस्कृत में राशिफल
            को "होराशास्त्र" कहा जाता है।

            कुछ लोग राशिफल को छद्म-विज्ञान (pseudoscience) मानते हैं, क्योंकि अभी भी इसकी सटीकता को सिद्ध करने का पूरा
            दायरा मौजूद है। जब कोई व्यक्ति अपनी सूर्य राशि का राशिफल पढ़ता है, तो वह दिन भर के लिए आवश्यक सभी जानकारियाँ
            प्राप्त कर सकता है। यह व्यक्ति को उसके प्रेम जीवन, करियर, वित्त और स्वास्थ्य पहलुओं के बारे में महत्वपूर्ण
            अंतर्दृष्टियाँ प्रदान करता है।

            तारों की स्थिति भविष्य का संकेत देती है और राशिफल आपका सबसे अच्छा मार्गदर्शक बन सकता है जो आपको अपने समय की
            योजना बनाने में मदद करता है। ग्रहों की स्थितियों का अध्ययन किया जाता है और इसके आधार पर व्यक्ति को यह समझने
            में सहायता दी जाती है कि ये स्थितियाँ क्या संकेत देती हैं और भविष्य के जीवन पर उनका क्या प्रभाव होगा।

            राशियों के चिह्न ही उस ज्योतिषीय भविष्यवाणी की नींव होते हैं जो विश्वभर में सबसे लोकप्रिय रूप में प्रचलित
            है। ये 12 राशियाँ किसी व्यक्ति को यह समझने, आत्मसात करने और जानने में मदद करती हैं कि भविष्य में उसके लिए
            क्या संभावनाएँ प्रतीक्षारत हैं।

            एक राशिफल को ज्योतिषीय चार्ट, कुंडली, स्टार चार्ट, फिगुरा चार्ट आदि भी कहा जा सकता है, लेकिन इस चार्ट का
            उद्देश्य हमेशा एक ही होता है – भविष्य की झलक दिखाना।

        </p>

        <div class="row" style="margin-top: 20px;">
            <div class="col-1" routerLink="/horoscope-detail"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__1.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">मेष</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__2.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">वृष</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__3.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">मिथुन</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__4.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">कर्क</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__5.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">सिंह</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__6.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">कन्या</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__7.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">तुला</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__8.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">वृश्चिक</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__9.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">धनु</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__10.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">मकर</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__11.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">कुम्भ</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__12.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">मीन</p>
            </div>
        </div>
    </div>

</div>