<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <h3 style="text-align: center; margin-top: 20px;">Horoscope</h3>
        <hr>
        <p style="text-align: justify;">A horoscope is an astrology chart that is well prepared in order to examine the
            future span of events for a
            native's life based on the position of the Sunshine, the Moon and other celestial bodies during his or her
            time of birth. This chart is utilized to analyze how a personal personality will condition up due to
            astrological affects. Likes and dislikes, thoughts, love life, career, health-a horoscope can offer
            interesting and accurate insights about the person. It's the accuracy of

            the predictions that make many non-believers question that how can an information presented to one signal
            matches with the local, while having no commonalities with traits mentioned for another zodiac sign.
            Horoscopic traditions of astrology are associated with Western Zodiac. The astrological chart or the Kundali
            in Vedic Astrology follows a different method of divination. The Sanskrit term for horoscope is HoraShastra.
            Some consider horoscopes to be pseudo-scientific in nature, as will be certainly still scope for
            demonstrating the accuracy of horoscopes. By reading horoscopes for your sun sign, the native can find away
            everything you need to know about the occasions predicted for the day ahead. Meaningful insights can be
            gained into your love life, career, financing and health aspects. The stars foretell your future and the
            horoscope is the best guide that you will need to plan your time in advance. The positions of the planets
            are studied, and based on this, assistance is provided to the native to understand what certain planetary
            positions indicate and how they will impact the near future course of life. The zodiac signs form the basis
            of astrological forecasts in the most popular form of astrology that is practiced worldwide. These types of
            12 zodiac signs permit a native to understand, absorb and seek assistance about what possibilities watch for
            him or her in the future. A horoscope may also be referenced to as an figura chart, an astrological graph
            and or chart or a star graph and or chart, etc., but the reason for this chart remains the same.</p>
        <div class="row" style="margin-top: 20px;">
            <div class="col-1" routerLink="/horoscope-detail"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__1.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__2.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__3.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__4.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__5.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__6.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__7.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__8.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__9.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__10.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__11.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
            <div class="col-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;   padding: 0;">
                <img src="assets/images/zodic__12.png" alt="Icon"
                    style="width: 45px; height: 45px; margin: 0; padding: 0;">
                <p style="margin-top: 5px; ">Mesh</p>
            </div>
        </div>
    </div>

</div>