.vertical-line {
    width: 1px;
    background-color: gainsboro;
    margin: 0 10px;
    align-self: stretch;
}

.vertical-line_black {
    width: 1px;
    background-color: black;
    margin: 0 10px;
    align-self: stretch;
}