<link href="https://fonts.googleapis.com/css2?family=Laila&display=swap" rel="stylesheet">

<app-header></app-header>
<div class="body-container">
  <div class="card bg-dark text-white">
    <img src="assets/images/soulmate.png" class="card-img" alt="">
    <div class="card-img-overlay">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12 ">
        <h3 class="text-center">Complimentary astrology services </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100" style="background-color: #FDF9D8;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center" routerLink="/kundali">
                <img src="assets/images/ic_db_kundali.png" alt="Logo" width="100px" height="100px">
                <h5 class="card-title mt-3">कुंडली</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100" style="background-color: #FCEAF3;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center"
                routerLink="/matchmaking">
                <img src="assets/images/ic_db_matchmaking.png" alt="Logo" width="100px" height="100px">
                <h5 class="card-title mt-3">कुंडली मिलान</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100" style="background-color: #FDE1BD;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center"
                routerLink="/daily-panchang">
                <img src="assets/images/ic_db_panchang.png" alt="Logo" width="100px" height="100px">
                <h5 class="card-title mt-3">पंचांग</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100" style="background-color: #F9E5FF;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center"
                routerLink="/daily-horoscope">
                <img src="assets/images/ic_db_rashifal.png" alt="Logo" width="100px" height="100px">
                <h5 class="card-title mt-3">राशिफल</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




</div>

<app-footer></app-footer>