<div style="border: solid;border-width: 1px;border-color: gray;height: 100%; ">
    <img src="assets/images/panchang-banner-6.jpg" alt="Sample Image"
        style="width: calc(100% - 4px); height: 130px; object-fit: cover; margin: 2px;">
    <h5 style="padding-top: 10px; font-weight: 600;margin: 0 10px;margin-bottom: 20px;">पंचांग</h5>
    <div class="scroll-container" style="margin: 0 10px;">
        <div style="padding: 0 ;margin: 0 ;  " routerLink="/daily-panchang">
            <p style="font-size: medium;padding: 0;margin: 0; "> <span> ➔</span> आज का पंचांग
            </p>
        </div>
        <hr style="margin: 8px 0px; padding: 0%;">
        <div style="padding: 0 ;margin: 0 ; " routerLink="/hora">
            <p style="font-size: medium;padding: 0;margin: 0; "> <span> ➔</span> आज का होरा
            </p>
        </div>
        <hr style="margin: 8px 0px; padding: 0%;">
        <div style="padding: 0 ;margin: 0 ; " routerLink="/chogdia">
            <p style="font-size: medium;padding: 0;margin: 0; "> <span> ➔</span> आज का चौघड़िया </p>
        </div>
        <hr style="margin: 8px 0px; padding: 0%;">
        <div style="padding: 0 ;margin: 0 ; " routerLink="/do-ghati">
            <p style="font-size: medium;padding: 0;margin: 0; "> <span> ➔</span> आज का दो घटी </p>
        </div>
        <hr style="margin: 8px 0px; padding: 0%;">
        <div style="padding: 0 ;margin: 0 ; " routerLink="/rahukaal">
            <p style="font-size: medium;padding: 0;margin: 0; "> <span> ➔</span> आज का राहुकाल </p>
        </div>
        <hr style="margin: 8px 0px; padding: 0%;">
        <div style="padding: 0 ;margin: 0 ; " routerLink="/lagna-muhurat">
            <p style="font-size: medium;padding: 0;margin: 0; "> <span> ➔</span> आज का लग्न मुहूर्त </p>
        </div>
        <hr style="margin: 8px 0px; padding: 0%;">

    </div>
</div>