<div class="footer-body">
  <div class="card text-center">
    <div class="card card-footer">
      <div class="card-footer">
        AstroGanit के बारे में
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>AstroGanit भारत का सर्वश्रेष्ठ हिंदी ज्योतिष ऐप है, जहाँ पाएँ फ्री कुंडली, पंचांग, राशिफल और कुंडली मिलान
            की सुविधा।
            विवाह, प्रेम जीवन, करियर या स्वास्थ्य से जुड़ी भविष्यवाणियाँ अब पाएँ सटीक वैदिक ज्योतिष के साथ।
            भक्ति सामग्री जैसे आरती, मंत्र, व्रत कथा और पूजा विधियाँ भी — सब कुछ एक ही स्थान पर, पूरी तरह मुफ्त।</p>

        </blockquote>
      </div>
    </div>
    <div class="card-body card-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Featured
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Featured
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Featured
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Copyright 2025 AstroGanit All Rights
      Reserved
    </div>
  </div>
</div>