<h3 style="margin-top: 50px; padding: 0;margin-left: 0;margin-right: 0; margin-bottom: 15px;">
    <strong>शुभ मुहूर्त 2025</strong>
</h3>
<div class="container" style="padding: 0%;">
    <div style="display: flex; ">
        <div style="width: 100%;background-color: #fff8e5; border-radius: 8px; border-color: #ffc517; border-width: 1px; border-style: solid; display: flex; justify-content: left; align-items: center; height: 40px; padding: 2px;"
            routerLink="/VivahMuhurat">
            <img src="assets/images/ic_vivah_muhurat.png" alt="Icon"
                style="width: 40px; height: 35px; background-color: #ffc517; border-radius: 5px; margin: 0; padding: 4px 6px;">
            <p style="margin: 0; margin-left: 10px;">विवाह मुहूर्त 2025 </p>

        </div>
        <div style="margin-left: 20px; width: 100%;background-color: #fff8e5; border-radius: 8px; border-color: #ffc517; border-width: 1px; border-style: solid; display: flex; justify-content: left; align-items: center; height: 40px; padding: 2px;"
            routerLink="/VahanMuhurat">
            <img src="assets/images/ic_vahan_muhurat.png" alt="Icon"
                style="width: 40px; height: 35px; background-color: #ffc517; border-radius: 5px; margin: 0; padding: 0;">
            <p style="margin: 0; margin-left: 10px;">वाहन खरीद मुहूर्त 2025 </p>

        </div>

    </div>
    <div style="display: flex; margin-top: 20px;">
        <div style="width: 100%;background-color: #fff8e5; border-radius: 8px; border-color: #ffc517; border-width: 1px; border-style: solid; display: flex; justify-content: left; align-items: center; height: 40px; padding: 2px;"
            routerLink="/GrahPraveshMuhurat">
            <img src="assets/images/ic_home.png" alt="Icon"
                style="width: 40px; height: 35px; background-color: #ffc517; border-radius: 5px; margin: 0; padding: 0;">
            <p style="margin: 0; margin-left: 10px;">गृह प्रवेश मुहूर्त 2025 </p>

        </div>
        <div style="margin-left: 20px; width: 100%;background-color: #fff8e5; border-radius: 8px; border-color: #ffc517; border-width: 1px; border-style: solid; display: flex; justify-content: left; align-items: center; height: 40px; padding: 2px;"
            routerLink="/NaamkaranMuhurat">
            <img src="assets/images/ic_naamkaran_muhurat.png" alt="Icon"
                style="width: 40px; height: 35px; background-color: #ffc517; border-radius: 5px; margin: 0; padding: 7px 7px;">
            <p style="margin: 0; margin-left: 10px;">नामकरण मुहूर्त 2025 </p>

        </div>

    </div>
    <div style="display: flex; margin-top: 20px;">
        <div style="width: 100%;background-color: #fff8e5; border-radius: 8px; border-color: #ffc517; border-width: 1px; border-style: solid; display: flex; justify-content: left; align-items: center; height: 40px; padding: 2px;"
            routerLink="/MundanMuhurat">
            <img src="assets/images/ic_mundan_muhurat1.png" alt="Icon"
                style="width: 40px; height: 35px; background-color: #ffc517; border-radius: 5px; margin: 0; padding: 5px 5px;">
            <p style="margin: 0; margin-left: 10px;">मुंडन मुहूर्त 2025 </p>

        </div>
        <div style="margin-left: 20px; width: 100%;background-color: #fff8e5; border-radius: 8px; border-color: #ffc517; border-width: 1px; border-style: solid; display: flex; justify-content: left; align-items: center; height: 40px; padding: 2px;"
            routerLink="/BhumiPujan">
            <img src="assets/images/ic_bhumi_pujan.png" alt="Icon"
                style="width: 40px; height: 35px; background-color: #ffc517; border-radius: 5px; margin: 0; padding: 5px 5px;">
            <p style="margin: 0; margin-left: 10px;">भूमि पूजन मुहूर्त 2025 </p>

        </div>

    </div>

</div>