<app-header></app-header>
<div class="body-container" style="margin-bottom: 20px; margin-top: 20px;">
    <div class="card bg-dark text-white">
        <img src="assets/images/download-app-banner.jpg" class="card-img" alt="" style="height: 250px;">
    </div>
    <p style="margin-top: 20px;text-align: justify;"><strong> शुभ विवाह मुहूर्त 2025: क्या आप 2025 में विवाह के लिए
            उपयुक्त मुहूर्त और सही समय की खोज कर रहे हैं? अगर आप यह मानते हैं कि शुभ तिथियों पर शादी करने से वैवाहिक
            जीवन सुखद और सफल होता है, तो आप जनवरी से दिसंबर 2025 तक के सभी शुभ विवाह मुहूर्त जान सकते हैं और उसी अनुसार
            अपनी योजनाएं बना सकते हैं।</strong></p>
    <p style="text-align: justify;">हिंदू धर्म में विवाह को अत्यंत महत्वपूर्ण और अनिवार्य संस्कारों में से एक माना गया
        है। वैदिक ग्रंथों के अनुसार, विवाह एक पवित्र बंधन होता है, जिसे शुभ मुहूर्त में संपन्न करना अत्यंत आवश्यक है।
        जिस प्रकार प्रत्येक शुभ कार्य के लिए एक उपयुक्त समय निर्धारित होता है, उसी प्रकार विवाह के लिए भी उचित समय का
        चयन किया जाना चाहिए। आने वाले वैवाहिक जीवन को सुखमय और समृद्ध बनाने हेतु शुभ तिथि और समय का निर्धारण करना बेहद
        जरूरी है। विवाह केवल एक सामाजिक रस्म नहीं है, बल्कि यह दो आत्माओं और दो परिवारों के बीच एक गहरा और पवित्र संबंध
        होता है। यही कारण है कि समाज में विवाह को विशेष सम्मान प्राप्त है। विवाह के दिन वर-वधू सात वचन लेकर जीवन भर
        एक-दूसरे के साथ निभाने का संकल्प लेते हैं, चाहे वह सुख हो या दुख। इसलिए विवाह की सफलता के लिए सभी आवश्यक
        तैयारियाँ की जानी चाहिए, जिनमें कुंडली मिलान और शुभ विवाह मुहूर्तों का चयन विशेष रूप से महत्वपूर्ण होता है।
    </p>
    <h3 style="margin-top: 20px;"><strong>विवाह शुभ मुहूर्त 2025</strong></h3>
    <p style="text-align: justify;">साल 2025 में विवाह जैसे जीवन के अहम कार्यों के लिए कई शुभ तिथियाँ उपलब्ध हैं। हम
        आपके लिए हिन्दू पंचांग के आधार पर वर्ष 2025 के विवाह हेतु शुभ मुहूर्त (Shubh Marriage Muhurat 2025) लेकर आए हैं,
        ताकि आप अपने सभी कार्य सही समय पर और शुभता के साथ संपन्न कर सकें।
    </p>
    <div *ngFor="let item of muhuratResponse?.muhuratDetail; let i = index">
        <h5 style="margin-top: 20px;"><strong>{{item.heading}}</strong></h5>


        <div class="container-fluid"
            style=" border: 1px; border-radius: 5px;border-color: gainsboro;border-style: solid;padding-left: 0;padding-right: 0; ">
            <div style="width: 100%;display: flex; background-color: #d3d3d3; padding: 10px 10px;">
                <p style="width: 40%; padding-bottom: 0; margin-bottom: 0;">दिनांक</p>
                <p style="width: 70%; padding-bottom: 0; margin-bottom: 0;">वार</p>
                <p style="width: 70%; padding-bottom: 0; margin-bottom: 0;">नक्षत्र</p>
                <p style="width: 70%; padding-bottom: 0; margin-bottom: 0;">तिथि</p>
                <p style="width: 100%; padding-bottom: 0; margin-bottom: 0;">समय</p>
            </div>
            <div *ngFor="let item of item?.muhurat; let i = index">
                <div style="display: flex; padding: 10px 10px;">
                    <p style="width: 40%; padding-bottom: 0; margin-bottom: 0;">{{item.day}}</p>
                    <p style="width: 70%; padding-bottom: 0; margin-bottom: 0;">{{item.var}}</p>
                    <p style="width: 70%; padding-bottom: 0; margin-bottom: 0;">{{item.nakshtra}}</p>
                    <p style="width: 70%; padding-bottom: 0; margin-bottom: 0;">{{item.tithi}}</p>
                    <p style="width: 100%; padding-bottom: 0; margin-bottom: 0;">{{item.time}}</p>
                </div>
                <hr style="margin: 0;">
            </div>
        </div>
    </div>

</div>